* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

/*Font style  */
.font-style {
  font-family: "Archivo Narrow", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

/* Side dashboard styling*/

.side-menu-item {
  padding-left: 3vw;
  cursor: pointer;
  width: 80%;
  margin: auto;
  border: 1px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 15px;
  transition: background-color 0.1s ease, color 0.3s ease;
}

.side-menu-item:hover {
  background: rgb(236, 236, 236);
  color: black;
}

.side-menu-item.active {
  background: #8f87fd;
  color: white;
}

/* Table styling */

.table-style {
  border: 1px solid #a9a9a9;
  background-color: white;
  width: 75vw;
  padding: 0px;
  height: 100%;
}

.table-heading {
  background-color: rgb(108 117 125);
  font-family: "Archivo Narrow", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 30px;
  font-style: normal;
  height: 8vh;
}

/* Appointment panel css */
.appointment-style {
  border: 1px solid black;
  width: 100vw;
  padding: 0px 0px;
  margin: 0px 0px;
  height: 100vh;
}

.appointment-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
}

/* Fomatting class for calendar */
.booked {
  color: red;
  /* color: white; */
}

.available {
  color: green;
  /* color: white; */
}

/* Home Page doctor and background green div formating classes*/
.home_div_bg {
  position: absolute;
  top: 58%;
  left: 83%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 35vw;
  z-index: 2;
}

.img_bg {
  height: 680px;
  width: 490px;
}

.green-bg {
  position: absolute;
  top: 16%;
  left: 5%;
  height: 65vh;
  width: 30vw;
  background: rgba(39, 191, 150, 255);
  border: 1px;
  border-radius: 100%;
  z-index: -1;
}

/* Sign in form google and facebook logo */
.logo {
  height: 20px;
}
