*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.h-full{
  height: 92.3vh;
}

.h-7{
  height: 7vh;
}

.h-89{
  height: 87vh;
}

.h-bottom{
  height: 43px;
}

.chat-header-bg{
  background-color: rgba(9,92,84,255)
}

.no-border{
  border: 0;
}

.max-width-50{
  max-width: 49%;
  width: max-content;
  /* float: left; */
}

.margin-left-50{
  margin-left: auto;
  max-width: 50%;
  width: max-content;
  /* float: right; */
}
